/* -------------------------------------- ALL PRODUCTS --------------------------------------*/

.bestSellere-main {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.bestSellere-main > div > h2{
    font-size: 40px;
    text-align: center;
}
.bestSellere-main > div > div > div {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
.bestSellere-main > div > div > div > ul > li{
    display: inline;
    cursor: pointer;
    padding: 0.5rem;
}
.bestSellere-main > div > div > div > button{
    border: 1px solid #000;
    padding: 0.2rem;
    background-color: #000;
    color: white;
}