/* -------------------------------------- bestSellere --------------------------------------*/

.bestSellere-section{
    display: flex;
    flex-direction: column;
}
.bestSellere-header{
    background-image: url('/public/assets/zaraBackground.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.bestSellere-header > div{
    padding: 200px;
}

.bestSellere-header > div >h1{
    font-size: 100px;
    margin: 0;
    padding: 0;
    color: #ffff;
}

.bestSellere-header > div > p{
    font-family: Roboto;
    font-size: 26px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    margin: 1rem 0;
    width: 20rem;
    color: #ffff;
}

.bestSellere-header > div > button{
    color: #000;
    background-color: #ffff;
    cursor: pointer;
    padding: 0.5rem;
}

.bestSellere-footer{
    text-align: center;
    background-color: #F1F1F1;
    margin-top: 50px;
}
.bestSellere-footer h2{
    font-family: Roboto;
    font-size: 45px;
    font-weight: 500;
    line-height: 53px;
    letter-spacing: 0.1em;
    margin: 50px auto 20px auto;
}
.bestSellere-footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.bestSellere-footer ul li{
    margin: 10px;
}
.bestSellere-footer ul li img{
  width: 200px;
  height: 200px; 
  opacity: 1;
}

.bestSellere-footer h3{
    font-family: Roboto;
    font-size: 45px;
    font-weight: 500;
    line-height: 53px;
    letter-spacing: 0.1em;
    margin: 20px auto 50px auto;
}

.bestSellere-footer div{
    color:white;
    margin-bottom: 30px;
}
.bestSellere-footer div input{
    width: 40%;
    margin: 20px 20px;
    padding: 5px 20px;
    background:none;
    border: none;
    outline: 0px;
    border-bottom: 2px solid #000;
}
.bestSellere-footer div button{
    font-weight: bold;
    padding: 5px 20px;
    background:none;
    border: none;
    outline: 0px;
    border-bottom: 2px solid #000;
    cursor: pointer;
}
