/* -------------------------------------- BEETSELLERE --------------------------------------*/

.beetSellere-section{
    display: flex;
    flex-direction: column;
}
.beetSellere-header{
    background-image: url('/public/assets/zaraBackground.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.beetSellere-header > div{
    padding: 200px;
}

.beetSellere-header > div >h1{
    font-size: 100px;
    margin: 0;
    padding: 0;
    color: #ffff;
}

.beetSellere-header > div > p{
    font-family: Roboto;
    font-size: 26px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    margin: 1rem 0;
    width: 20rem;
    color: #ffff;
}

.beetSellere-header > div > button{
    color: #000;
    background-color: #ffff;
    cursor: pointer;
    padding: 0.5rem;
}

/* -------------------------------------- ALL PRODUCTS --------------------------------------*/

.beetSellere-main {
    display: flex;
    justify-content: center;
}

.beetSellere-main > div > h2{
    font-size: 40px;
    text-align: center;
}
.beetSellere-main > div > div > div {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
.beetSellere-main > div > div > div > ul > li{
    display: inline;
    cursor: pointer;
    padding: 0.5rem;
}
.beetSellere-main > div > div > div > button{
    border: 1px solid #000;
    padding: 0.2rem;
    background-color: #000;
    color: white;
}
/* -------------------------------------- PRODUCTS --------------------------------------*/



/* finish product styles*/

.beetSellere-footer{
    text-align: center;
    background-color: #F1F1F1;

}
.beetSellere-footer h2{
    font-family: Roboto;
    font-size: 45px;
    font-weight: 500;
    line-height: 53px;
    letter-spacing: 0.1em;
    margin: 50px auto 20px auto;
}
.beetSellere-footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.beetSellere-footer ul li{
    margin: 10px;
}
.beetSellere-footer ul li img{
    width: 200px;
    height: 200px;
}
.beetSellere-footer h3{
    font-family: Roboto;
    font-size: 45px;
    font-weight: 500;
    line-height: 53px;
    letter-spacing: 0.1em;
    margin: 20px auto 50px auto;
}

.beetSellere-footer div{
    color:white;
    margin-bottom: 30px;
}
.beetSellere-footer div input{
    width: 40%;
    margin: 20px 20px;
    padding: 5px 20px;
    background:none;
    border: none;
    outline: 0px;
    border-bottom: 2px solid #000;
}
.beetSellere-footer div button{
    font-weight: bold;
    padding: 5px 20px;
    background:none;
    border: none;
    outline: 0px;
    border-bottom: 2px solid #000;
    cursor: pointer;
}