@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
.cart > div{
    display: flex;
    padding: 2em;
    justify-content: center;
    gap: 1.5em;
    background-color: #f1f1f1;
}
.cart > h2{
    background-color: #f1f1f1;
    padding-left: 13%;
    font-size: 3.5rem;
    font-weight: 100;
    font-family: 'Playfair Display', serif;
}
.cart-left{
    width: 70%;
    max-width: 1000px;
}
.cart-left > tbody > tr {
    background-color: white;
}
.cart-left > tbody > h3 {
    background-color: white;
    text-align: center;
}
.cart-left > tbody > tr > td {
    width: 16.66%;
    padding: 1em 0.25em;
    text-align: center;
    border: none;
    border-top: 1.5px rgb(238, 238, 238) solid;
}
.cart-right{
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    width: 40%;
    max-width: 350px;
}
.cart-right > div{
    display: flex;
    justify-content: space-evenly;
    width: 85%;
    /* border: 2px red solid; */
}
.cart-right > div > p{
    background-color: white;
    margin-top: 0.25em;
    padding: 1.5em;
    width: 90%;
    /* border: 4px green solid; */
}
.cart-right > button {
    width: 85%;
    padding: 1.5em;
    margin-top: 1em;
    opacity: 0.8;
    cursor: pointer;
    /* border: black 3px solid; */
    border-radius: 5px;
    background-color: rgb(212, 192, 75);
    color: white;
    transition: all 0.5s;
}
.cart-right > button:hover {
    opacity: 1;
}
@media(max-width:980px){
    .cart-container{
        flex-direction: column;
    }
    .cart-left{
        width: 100%;
    }
    .cart-right{
        width: 100%;
        max-width: 100%;
    }
    .cart-right > div{
        text-align: center;
        width: 100%;
    }
    .cart-right > button {
        width: 100%;
    }
}
@media(max-width:500px){
    .cart-container{
        flex-direction: column;
    }
    .cart-left{
        width: 100%;
    }
    .cart-right{
        width: 100%;
        max-width: 100%;
    }
    .cart-right > div{
        text-align: center;
        width: 100%;
    }
    .cart-right > button {
        width: 100%;
    }
}