.cart > div{
    display: flex;
    padding: 2em;
    border: 3px solid rgb(194, 133, 19);
    justify-content: center;
    gap: 1.5em;
    background-color: #e7dfdf6c;
}
.cart-left{
    width: 70%;
    max-width: 1000px;
}
.cart-left > tbody > tr {
    background-color: white;
}
.cart-left > tbody > tr > td {
    width: 16.66%;
    padding: 1em 0.25em;
    text-align: center;
    border: none;
    border-top: 1.5px rgb(238, 238, 238) solid;
}
.cart-right{
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    width: 40%;
    max-width: 350px;
}
.cart-right > div{
    display: flex;
    justify-content: space-evenly;
    width: 85%;
    /* border: 2px red solid; */
}
.cart-right > div > p{
    background-color: white;
    margin-top: 0.25em;
    padding: 1.5em;
    width: 90%;
    /* border: 4px green solid; */
}
.cart-right > button {
    width: 85%;
    padding: 1.5em;
    margin-top: 1em;
    opacity: 0.8;
    cursor: pointer;
    /* border: black 3px solid; */
    border-radius: 3%;
    background-color: rgb(212, 192, 75);
    color: white;
}
.cart-right > button:hover {
    opacity: 1;
}
@media(max-width:980px){
    .cart > div{
        flex-direction: column;
    }
}
@media(max-width:500px){
    
}